{% extends 'catalog/base.html' %}
{% block content %}
<div class="row">
    <div class="row text-center">
        <div class="col-12 mb-5">
            <a class="btn btn-success" href="{% url 'vlog:create' %}">Добавить статью</a>
        </div>
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
                </div>
                <div class="card-body">
                    <p>{{ object.text|truncatechars:50 }}</p>
                    <a href="{% url 'vlog:view' object.pk %}" type="button"
                       class="btn btn-sm btn-block btn-outline-primary">Перейти</a>
                    <a href="{% url 'vlog:update' object.pk %}" type="button"
                       class="btn btn-sm btn-block btn-outline-primary">Редактировать</a>
                    <a href="{% url 'vlog:delete' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-danger">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}