{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="row text-center">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name|title }} ({{ object.slug }})</h4>
                </div>
                <img class="card-img-top"
                     src="{{ object.preview|media_filter }}"
                     alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{ object.text }}</p>
                </div>
                <div class="card-footer"> Количество просмотров: {{ object.views_count }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}