{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top"
                 src="{{ object.preview|media_filter }}"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Наименование продукта: {{object.name}}</p>
                <p class="card-text">Категория: {{object.category}}</p>
                <p class="card-text">Цена: {{object.price}} руб.</p>
                <p class="card-text">Описание: {{object.description}}</p>
                <p class="card-text">Текущая версия: {{ version }} </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}